<div class="row">
  <div class="text-center">
    <h2>
      Bus line
    <i class="fa fa-bus" aria-hidden="true"></i>
      13
    </h2>
  </div>
  <div class="col-lg-6">
    
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from Buzludza neighborhood">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from the univercity">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
           <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="text-center">
    <h2>
      Bus line
    <i class="fa fa-bus" aria-hidden="true"></i>
      5
    </h2>
  </div>
  <div class="col-lg-6">
    
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from Buzludza neighborhood">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from the univercity">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
           <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="text-center">
    <h2>
      Bus line
    <i class="fa fa-bus" aria-hidden="true"></i>
      20
    </h2>
  </div>
  <div class="col-lg-6">
    
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from Buzludza neighborhood">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-lg-6">
    <rd-widget>
      <rd-widget-header icon="fa-tasks" title="Leaves from the univercity">
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="table-responsive">
          <table class="table table-striped">
           <thead>
              <tr><td class="text-center">Hour</td><td class="text-center">Works on holidays</td></tr>
            </thead>
            <tbody>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">07:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">07:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
              <tr><td class="text-center">06:10</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:30</td><td class="text-center"><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
              <tr><td class="text-center">06:50</td><td class="text-center"><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
            </tbody>
          </table>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

